@import './variables.css';
@import './Header.css';
@import './Navbar.css';
@import './Buttons.css';
@import './RadioFields.css';
@import './Counter.css';
@import './Greeting.css';
@import './Good.css';
@import './GoodPage.css';
@import './Cart.css';

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.inner {
  padding-top: 50px;
}

.headline {
  position: relative;
  width: fit-content;
  margin-bottom: 30px;
  color: var(--violet);
  font-weight: bold;
  font-size: 45px;
  text-align: center;
  text-shadow: -4px 5px 0px var(--yellow);
}

.headline.headline--center {
  margin: 0 auto;
  margin-bottom: 30px;
}

.headline::after {
  content: '';
  position: absolute;
  display: block;
  right: -70px;
  bottom: 0;
  width: 112px;
  height: 31px;
  background-image: url('../assets/images/icon/icon-wave-large.png');
  z-index: -1;
}

.link {
  font-weight: 100;
  transition: .3s ease color;
}

.link:hover {
  color: var(--violet);
}

.link--btn {
  background: var(--green-light);
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid var(--gray);
  border-radius: 50px;
  color: var(--gray);
  font-weight: 100;
  transition: .3s ease all;
}

.link--btn:hover {
  background-color: var(--green-middle);
  color: var(--black);
}

.link--btn:focus {
  box-shadow: 0 0 0 0.25rem var(--green-middle);
}

.inputs-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.inputs-wrapper.inputs-wrapper--row {
  flex-direction: row;
}

.headline-form {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 100;
}

.wrapper-center {
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.text-and-link {
  display: flex;
  align-items: center;
}

.text-and-link p {
  margin: 0;
  margin-right: 10px;
  color: var(--gray);
}

.input-container {
  position: relative;
  margin-bottom: 10px;
}

.form-control:focus+ .input-container__label {
  padding: 0 3px;
  background-color: #fff;
  border-radius: 3px;
  top: 0px;
  font-size: 10px;
}

.input-container__label {
  position: absolute;
  top: 50%;
  left: 15px;
  font-size: 14px;
  color: var(--gray-light);
  transition: .3s ease top, .6s ease font-size;
  transform: translateY(-50%);
  z-index: 1;
}
