:root {
  --black: #000000;
  --gray: #595959;
  --gray-light: #A8A8A8;
  --violet: #6739CC;
  --violet-light: #6939CB7A;
  --violet-dark: #452098;
  --yellow: #FFDD21;
  --green: #539700;
  --green-light: #E6FFC2;
  --green-middle: #D5FF98;
  --spring-green: #82DA03;
}